<!-- <div class="card">
  <h5>Implicit Pagination</h5>
  <p-table
    [value]="customers"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    responsiveLayout="scroll"
    [alwaysShowPaginator]="false"
    [pageLinks]="3"
    (onSort)="sort()"
    (onPage)="page()"
    currentPageReportTemplate="Mostrando do {first}º ao {last}º registro de {totalRecords} registros"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="country.name">Country <p-sortIcon field="country.name"></p-sortIcon></th>
        <th pSortableColumn="company">Company <p-sortIcon field="company"></p-sortIcon></th>
        <th pSortableColumn="representative.name">Representative <p-sortIcon field="representative.name"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.country.name }}</td>
        <td>{{ customer.company }}</td>
        <td>{{ customer.representative.name }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button
        type="button"
        icon="pi pi-plus"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        icon="pi pi-cloud"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-table>
</div> -->

<div class="card">
  <h5>Paginação Customizada</h5>
      <p-button style="float: left; padding-top: 0.6rem;"
      pTooltip="Limpar ordenação"
      type="button"
      icon="pi pi-trash"
      styleClass="p-button-text"
      (onClick)="reset()"
    ></p-button>
      <p-paginator
        #paginator
        [pageLinkSize]="3"
        [totalRecords]="totalRecords"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando do {first}º ao {last}º registro de {totalRecords} registros"
        [rowsPerPageOptions]="[5, 10, 20]"
        [rows]="rows"
        (onPageChange)="setMyPagination($event)"
      >
      </p-paginator>

  <p-table #table [value]="datasource" (onSort)="onSort($event)">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" (click)="resetPaginator()">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="country.name" (click)="resetPaginator()">
          Country <p-sortIcon field="country.name"></p-sortIcon>
        </th>
        <th pSortableColumn="company" (click)="resetPaginator()">
          Company <p-sortIcon field="company"></p-sortIcon>
        </th>
        <th pSortableColumn="representative.name" (click)="resetPaginator()">
          Representative <p-sortIcon field="representative.name"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.country.name }}</td>
        <td>{{ customer.company }}</td>
        <td>{{ customer.representative.name }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
